<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Pasajero</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="background" scroll="true">
    <center>
        <ion-icon name="person"></ion-icon>
        <h1>Bienvenido</h1>
        <h1></h1>
    </center>
    <div id="map"></div>
    <ion-list>

        <ion-item color='black' *ngFor="let viaje of data">
            <ul>DESDE:
                <li>{{viaje.iniciov}}</li>
                HACIA:
                <li>{{viaje.finalv}}</li>
                COSTO:
                <li>{{viaje.costo}}</li>
                ASIENTOS:
                <li>{{viaje.asientos}}</li>
                SALIDA:
                <li>{{viaje.horasa}}</li>
                <ion-button (click)="showModal()">Seleccionar Viaje</ion-button>
            </ul>
        </ion-item>
    </ion-list>
    <ion-button (click)="buscarViajes()" (click)="ObtenerData()">Buscar Viajes</ion-button>
</ion-content>