<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Conductor</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="background" scroll="true">
    <ion-card>
        <ion-card-header>
            <ion-card-title>Login</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <form [formGroup]="formularioLogindos">
                <ion-item>
                    <ion-label position="floating">Nombre</ion-label>
                    <ion-input formControlName="nombre" [(ngModel)]="dato"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Contraseña</ion-label>
                    <ion-input formControlName="password" type="password"></ion-input>
                </ion-item>
            </form>
            <br>
            <ion-button (click)="conductor()" (click)="saludar()" (click)="ingresar()">
                Ingresar
            </ion-button>
        </ion-card-content>
    </ion-card>

    <ion-footer>
        <ion-toolbar color="black">
            <ion-button slot="end">
                <ion-button (click)="registrodos()">Registrarse</ion-button>
            </ion-button>
            <ion-button fill="clear" style="font-size: small; color: #ffffff; margin-right: -10px; text-transform: none; font-family: sans-serif;" (click)="olvi()">
                <b><p style="font-size: 11px;">Olvido la contraseña? </p></b>
            </ion-button>
        </ion-toolbar>
    </ion-footer>


</ion-content>